MdlpApiClient.Xsd/10523-skzkm_code_error_recipe.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="base_ref.xsd" />
    <xs:include schemaLocation="base_types.xsd" />
    <xs:complexType name="skzkm_code_error_recipe">
        <xs:annotation>
            <xs:documentation>Регистрация в ИС МДЛП сведений об отпуске по льготному рецепту лекарственных препаратов с невалидными КМ (информация с СКЗКМ)</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="subject_id" type="subject_id_type">
                <xs:annotation>
                    <xs:documentation>Идентификатор организации-отправителя</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="operation_date" type="datetimeoffset">
                <xs:annotation>
                    <xs:documentation>Дата совершения операции</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="doc_date" type="date_type">
                <xs:annotation>
                    <xs:documentation>Реквизиты документа: дата регистрации льготного рецепта</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="doc_series" type="document_number_200_type" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Реквизиты документа: номер серии льготного рецепта</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="doc_num" type="document_number_200_type">
                <xs:annotation>
                    <xs:documentation>Реквизиты документа: номер льготного рецепта</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="order_details">
                <xs:annotation>
                    <xs:documentation>Список продукции</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="union" maxOccurs="25000">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="sgtin" type="sign_sgtin_type">
                                        <xs:annotation>
                                            <xs:documentation>Номер SGTIN</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="sold_part" type="part_type" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Доля от вторичной упаковки</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
                <xs:unique name="ismp_ux_code_error_recipe_sgtin">
                    <xs:selector xpath="union/sgtin" />
                    <xs:field xpath="." />
                </xs:unique>
            </xs:element>
            <xs:element name="device_info" type="skzkm_info_type">
                <xs:annotation>
                    <xs:documentation>Информация об устройстве РЭ или РВ</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="action_id" type="xs:int" fixed="10523" use="required" />
    </xs:complexType>
</xs:schema>
