MdlpApiClient.Xsd/254-change_property.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="base_ref.xsd" />
    <xs:include schemaLocation="base_types.xsd" />
    <xs:complexType name="change_property">
        <xs:annotation>
            <xs:documentation>Регистрация в ИС МДЛП сведений о корректировке </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="subject_id" type="subject_id_type">
                <xs:annotation>
                    <xs:documentation>Идентификатор организации-отправителя</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="counterparty_id" type="subject_id_type">
                <xs:annotation>
                    <xs:documentation>Идентификатор контрагента</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="operation_date" type="datetimeoffset">
                <xs:annotation>
                    <xs:documentation>Дата совершения операции</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="action_id_type" type="action_id_type_enum">
                <xs:annotation>
                    <xs:documentation>Тип исходной операции </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="operation_id" type="string200_type">
                <xs:annotation>
                    <xs:documentation>Идентификатор запроса, подлежащего корректировке</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="details">
                <xs:annotation>
                    <xs:documentation>Сведения подлежащие корректировке</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="doc_num" type="document_number_200_type" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Реквизиты документа - номер</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="doc_date" type="date_type" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Реквизиты документа - дата</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="source" type="source_type" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Источник финансирования</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="contract_num" type="document_number_200_type" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Реестровый номер контракта (договора) в Единой информационной системе в сфере закупок</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="contract_type" type="contract_type_enum" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Тип договора</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="contract_gos_num" type="document_number_200_type" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Номер государственного контракта</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="contract_gos_date" type="date_type" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Дата государственного контракта</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="order_details">
                            <xs:annotation>
                                <xs:documentation>Список продукции</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="union" maxOccurs="25000">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:choice>
                                                    <xs:element name="sgtin" type="sign_sgtin_type">
                                                        <xs:annotation>
                                                            <xs:documentation>Номер SGTIN</xs:documentation>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="sscc_detail">
                                                        <xs:annotation>
                                                            <xs:documentation>Сведения о транспортной упаковке</xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="sscc" type="sscc_type">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Номер транспортной упаковки</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="detail" minOccurs="0" maxOccurs="100">
                                                                    <xs:annotation>
                                                                        <xs:documentation>Сведения о цене содержимого транспортной упаковки</xs:documentation>
                                                                    </xs:annotation>
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="gtin" type="gs1_gtin_type">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Идентификатор товара в GS1 (GTIN)</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                            <xs:element name="series_number" type="series_number_type">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Номер производственной серии</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                            <xs:element name="cost" type="price_type" minOccurs="0">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Стоимость единицы продукции (с учетом налога на добавленную стоимость)</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                            <xs:element name="vat_value" type="price_type" minOccurs="0">
                                                                                <xs:annotation>
                                                                                    <xs:documentation>Cумма НДС, руб</xs:documentation>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:choice>
                                                <xs:element name="cost" type="price_type" minOccurs="0">
                                                    <xs:annotation>
                                                        <xs:documentation>Стоимость единицы продукции (с учетом налога на добавленную стоимость). Если сведения посылаются в транспортной упаковке - стоимость единичной упаковки внутри третичной упаковки, руб</xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="vat_value" type="price_type" minOccurs="0">
                                                    <xs:annotation>
                                                        <xs:documentation>Cумма НДС, руб</xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                            <xs:unique name="ux_change_property_sgtin">
                                <xs:selector xpath="union" />
                                <xs:field xpath="sgtin" />
                            </xs:unique>
                            <xs:unique name="ux_change_property_sscc">
                                <xs:selector xpath="union/sscc_detail" />
                                <xs:field xpath="sscc" />
                            </xs:unique>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="action_id" type="xs:int" fixed="254" use="required" />
    </xs:complexType>
</xs:schema>
