MdlpApiClient.Xsd/300-transfer_code_to_custom.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="base_ref.xsd" />
    <xs:include schemaLocation="base_types.xsd" />
    <xs:complexType name="transfer_code_to_custom">
        <xs:annotation>
            <xs:documentation>Регистрация держателем РУ (или его представительством) сведений о передаче кодов маркировки таможенному складу в ИС МДЛП</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="subject_id" type="system_subject_type">
                <xs:annotation>
                    <xs:documentation>Идентификатор организации-отправителя</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="operation_date" type="datetimeoffset">
                <xs:annotation>
                    <xs:documentation>Дата упаковки</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="custom_receiver_id" type="system_subject_type">
                <xs:annotation>
                    <xs:documentation>Идентификатор местонахождения товара в зоне таможенного контроля</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="gtin" type="gs1_gtin_type">
                <xs:annotation>
                    <xs:documentation>Код GTIN</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="signs">
                <xs:annotation>
                    <xs:documentation>Перечень идентификационных кодов потребительских упаковок</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="sgtin" type="sign_sgtin_type" maxOccurs="10000">
                            <xs:annotation>
                                <xs:documentation>Номер SGTIN</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
                <xs:unique name="ux_transfer_code_to_custom_sgtin">
                    <xs:selector xpath="sgtin" />
                    <xs:field xpath="." />
                </xs:unique>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="action_id" type="xs:int" fixed="300" use="required" />
    </xs:complexType>
</xs:schema>
