MdlpApiClient.Xsd/631-successor_acceptance_notification.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="base_ref.xsd" />
    <xs:include schemaLocation="base_types.xsd" />
    <xs:complexType name="successor_acceptance_notification">
        <xs:annotation>
            <xs:documentation>Уведомление о перемещении лекарственных препаратов с места деятельности правопредшественника на место деятельности правопреемника</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="subject_id" type="system_subject_type">
                <xs:annotation>
                    <xs:documentation>Идентификатор организации-отправителя</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="organisation_name" type="string1000_type">
                <xs:annotation>
                    <xs:documentation>Наименование организации - отправителя</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="shipper_id" type="subject_id_type">
                <xs:annotation>
                    <xs:documentation>Идентификатор организации-грузоотправителя</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="receiver_id" type="subject_id_type">
                <xs:annotation>
                    <xs:documentation>Идентификатор организации-получателя</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="operation_date" type="datetimeoffset">
                <xs:annotation>
                    <xs:documentation>Дата совершения операции</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="operation_id" type="string200_type">
                <xs:annotation>
                    <xs:documentation>Идентификатор операции перемещения</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="action_id" type="xs:int" fixed="631" use="required" />
    </xs:complexType>
</xs:schema>
