MdlpApiClient.Xsd/632-expired_writeoff_notification.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="base_ref.xsd" />
    <xs:include schemaLocation="base_types.xsd" />
    <xs:complexType name="expired_writeoff_notification">
        <xs:annotation>
            <xs:documentation>Уведомление об автоматическом списании ЛП с истекшим сроком годности</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="subject_id" type="subject_any_type">
                <xs:annotation>
                    <xs:documentation>Идентификатор организации-отправителя</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="operation_date" type="datetimeoffset">
                <xs:annotation>
                    <xs:documentation>Дата совершения операции</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="order_details">
                <xs:annotation>
                    <xs:documentation>Список продукции</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence maxOccurs="25000">
                        <xs:element name="sgtin" type="sign_sgtin_type">
                            <xs:annotation>
                                <xs:documentation>Номер SGTIN</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="gtin" type="gs1_gtin_type">
                            <xs:annotation>
                                <xs:documentation>Код GTIN</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="series_number" type="series_number_type">
                            <xs:annotation>
                                <xs:documentation>Номер производственной серии</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="expiration_date" type="date_type">
                            <xs:annotation>
                                <xs:documentation>Срок годности препарата</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
                <xs:unique name="ux_expired_writeoff_notification_sgtin">
                    <xs:selector xpath="sgtin" />
                    <xs:field xpath="." />
                </xs:unique>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="action_id" type="xs:int" fixed="632" use="required" />
    </xs:complexType>
</xs:schema>
