MdlpApiClient.Xsd/705-not_on_balance.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="base_ref.xsd" />
    <xs:include schemaLocation="base_types.xsd" />
    <xs:complexType name="not_on_balance">
        <xs:annotation>
            <xs:documentation>Регистрация в ИС МДЛП сведений об отсутствии лекарственных препаратов на балансе</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="subject_id" type="subject_id_type">
                <xs:annotation>
                    <xs:documentation>Идентификатор организации-отправителя</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="operation_date" type="datetimeoffset">
                <xs:annotation>
                    <xs:documentation>Дата совершения операции</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="order_details">
                <xs:annotation>
                    <xs:documentation>Список продукции</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:choice>
                        <xs:element name="sgtin" type="sign_sgtin_type" maxOccurs="25000">
                            <xs:annotation>
                                <xs:documentation>Номер SGTIN</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="series_details">
                            <xs:annotation>
                                <xs:documentation>Сведения о серии</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="series_number" type="series_number_type">
                                        <xs:annotation>
                                            <xs:documentation>Номер производственной серии</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="gtin" type="gs1_gtin_type">
                                        <xs:annotation>
                                            <xs:documentation>Код GTIN</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                </xs:complexType>
                <xs:unique name="ux_not_on_balance_sgtin">
                    <xs:selector xpath="sgtin" />
                    <xs:field xpath="." />
                </xs:unique>
                <xs:unique name="ux_not_on_balance_series_number">
                    <xs:selector xpath="series_details" />
                    <xs:field xpath="series_number" />
                </xs:unique>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="action_id" type="xs:int" fixed="705" use="required" />
    </xs:complexType>
</xs:schema>
