MdlpApiClient.Xsd/911-unit_pack.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="base_types.xsd" />
    <xs:include schemaLocation="base_ref.xsd" />
    <xs:complexType name="unit_pack">
        <xs:annotation>
            <xs:documentation>Регистрация в ИС МДЛП сведений об агрегировании упаковок лекарственных препаратов в третичную (заводскую, транспортную) упаковку</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="subject_id" type="subject_any_type">
                <xs:annotation>
                    <xs:documentation>Идентификатор субъекта обращения в ИС МДЛП</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sscc" type="sscc_type">
                <xs:annotation>
                    <xs:documentation>Номер транспортной упаковки</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="operation_date" type="datetimeoffset">
                <xs:annotation>
                    <xs:documentation>Дата упаковки</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="content">
                <xs:annotation>
                    <xs:documentation>Содержимое упаковки</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:choice maxOccurs="25000">
                        <xs:element name="sgtin" type="sign_sgtin_type">
                            <xs:annotation>
                                <xs:documentation>Номер SGTIN</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="sscc" type="sscc_type">
                            <xs:annotation>
                                <xs:documentation>Номер транспортной упаковки</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:choice>
                </xs:complexType>
                <xs:unique name="ux_unit_pack_sgtin">
                    <xs:selector xpath="sgtin" />
                    <xs:field xpath="." />
                </xs:unique>
                <xs:unique name="ux_unit_pack_sscc">
                    <xs:selector xpath="sscc" />
                    <xs:field xpath="." />
                </xs:unique>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="action_id" type="xs:int" fixed="911" use="required" />
    </xs:complexType>
</xs:schema>
