MdlpApiClient.Xsd/912-unit_unpack.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="base_types.xsd" />
    <xs:include schemaLocation="base_ref.xsd" />
    <xs:complexType name="unit_unpack">
        <xs:annotation>
            <xs:documentation>Регистрация в ИС МДЛП сведений о расформировании третичной (заводской, транспортной) упаковки лекарственных препаратов</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="subject_id" type="subject_any_type">
                <xs:annotation>
                    <xs:documentation>Идентификатор субъекта обращения в ИС МДЛП</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="operation_date" type="datetimeoffset">
                <xs:annotation>
                    <xs:documentation>Дата расформирования</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sscc" type="sscc_type" maxOccurs="1500">
                <xs:annotation>
                    <xs:documentation>Номер транспортной упаковки</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="is_recursive" type="xs:boolean" minOccurs="0" fixed="true">
                <xs:annotation>
                    <xs:documentation>Тип расформирования. При отсутствии элемента расформирование на один уровень (по умолчанию). При включении элемента рекурсивно до вторичной упаковки</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="action_id" type="xs:int" fixed="912" use="required" />
    </xs:complexType>
</xs:schema>
